html {
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}

body,
html {
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
  background: #001821;
	margin: 0;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
    display: block;
}

a:hover {
  color: #da0100;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
}

.main-page-wrapper {
  display: block;
  max-width: 100%;
  min-width: 100%;
  background: url('../../img/elefant.png') center top no-repeat, url('../../img/valley.png') center bottom 179px no-repeat;
}


.wrapper__content {
  position: relative;
}

.container {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	max-width: 1142px;
}

.button {
  width: 168px;
  padding: 18px;
  background: #F5170E;
  border-radius: 35px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.button:hover {
  color:#fff ;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  position: relative;
  margin-bottom: 51px;
}