.footer-container, .inner-footer {
  margin-top: auto;
}

.footer-container__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1)
}

.footer {
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align-right {
  justify-content: flex-end;
}

.contacts__facts {
  color: #9A9A9A;
  font-size: 11px;
  line-height: 20px;
}

.social {
  margin-right: 74px;
  display: flex;
}

.social__item {
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  position: relative;
}

.social__item--tg .social__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -122px -10px;
  transition: .4s ease-in-out;
}

.social__item--tg .social__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -122px -66px;
  opacity: 0;
  transition: .4s ease-in-out;
}

.social__item--vk .social__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -10px -122px;
  transition: .4s ease-in-out;
}

.social__item--vk .social__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -66px -122px;
  opacity: 0;
  transition: .4s ease-in-out;
}

.social__item--fb .social__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -10px -10px;
  transition: .4s ease-in-out;
}

.social__item--fb .social__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -66px -10px;
  opacity: 0;
  transition: .4s ease-in-out;
}

.social__item--inst .social__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -10px -66px;
  transition: .4s ease-in-out;
}

.social__item--inst .social__link:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  background: url(../../img/icons/socials-sprites.png) -66px -66px;
  opacity: 0;
  transition: .4s ease-in-out;
}

.social__link:hover:after {
  opacity: 0;
}

.social__link:hover:before {
  opacity: 1;
}