.form__row {
  display: flex;
  margin-bottom: 27px;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  background: #fff;
  padding: 20px 30px;
  color: #1A1B1E;
  font-size: 18px;
  line-height: 24px;
  resize: none;
  outline: #fff;
  transition: .5s ease-in-out;
}

.form__input:last-child {
  margin-right: 0;
}

.form__input::placeholder {
  color: #666;
}

.form__input:focus {
  outline: 1px solid #F5170E;
}

.form__input--textarea {
  height: 235px;
  padding-top: 32px;
}

.form__controls {
  display: flex;
  margin-bottom: 24px;
}

.form__controls-title {
  width: 38.2%;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-right: 10px;
}

.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__elem {
  cursor: pointer;
}

.controls__tag {
  transition: .5s ease-in-out;
}

.controls__checkbox:checked ~ .controls__tag {
  background: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.tag {
  color: #303030;
  font-size: 13px;
  line-height: 18px;
  padding: 9px 17px;
  border-radius: 35px;
  background: #E7E7E7;
  margin-right: 8px;
  margin-bottom: 9px;
}

.button--color-black {
  background: #8E8E8E;
  border: #8E8E8E
}

.button--color-black:hover {
  color: #fff;
  background: #2B2B2B;
  border: #2B2B2B;
}

.button--submit:hover {
  color: #fff;
  background: #F5170E;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  margin-right: 17px;
}

.form__button:last-child {
  margin-right: 0;
}

