.header {
  padding-top: 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align-right {
  justify-content: flex-end;
}

.logo {
  margin-right: 79px;
}

.logo__img {
  max-width: 85px;
  max-height: 36px;
}

.menu__list {
  display: flex;
  margin-top: 1px;
  margin-top: 10px
}

.menu__item {
  margin-right: 35%;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.35;
}

.contacts {
  text-align: right;
  padding-top: 5px;
}

.contacts__phone {
  font-size: 26px;
  line-height: 1;
}

.contacts-dropdown {
  position: relative;
  display: inline-flex;
}

.contacts-dropdown__title {
  color: #98A4A8;
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline 1px;
  transition: .3s ease-in-out;
}

.contacts-dropdown:hover .contacts-dropdown__title {
  color: #fff;
}

.contacts-dropdown:hover .contacts-dropdown__info {
  right: 0;
  opacity: 0.8;
}

.contacts-dropdown__info {
  position: absolute;
  background: #EDEDED;
  opacity: 0;
  transition: opacity .5s ease-in-out;
  padding: 13px 18px;
  border-radius: 5px;
  width: 160px;
  top: 100%;
  margin-top: 6px;
  right: -9999px;
}

.contacts-dropdown__info:before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  height: 11px;
  top: -9px;
}

.contacts-dropdown__info:after {
  content: '';
  position: absolute;
  top: -26%;
  left: 58%;
  border: 10px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #EDEDED;
  border-left-width: 15px;
  border-right-width: 15px;
}

.contacts-dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-dropdown__item {
  color: #1E1F20;
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
}

.contacts-dropdown__item--bold {
  font-weight: 700;
}

