.hero {
  margin-bottom: 246px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 529px;
}

.hero__promo {
  width: 45%;
}

.main-title {
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 27px;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 33px;
}