.inner-section {
  background: #fff;
  color: #1A1B1E;
  padding-top: 88px;
  padding-bottom: 72px;
}

.inner-section--bg-grey {
  background: #F4F5F5;
}

.inner-section__title {
  color: #1A1B1E;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  margin-bottom: 55px;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-right: 78px;
}

.partners__item:nth-child(4n+4) {
  margin-right: 0;
}

.partners__link {
  display: flex;
  width: 226px;
  height: 129px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%) opacity(85%) ;
}

.partners__link:hover {
  filter: grayscale(0) opacity(100%)
}

