.news {
  margin-bottom: 145px;
}

.news__list {
  margin-bottom: 52px;
  display: flex;
  justify-content: space-between;
}

.news__item {
  flex: 1;
  height: 394px;
  margin-right: 2%;
}

.news__item:last-child {
  margin-right: 0;
}

.single-news {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.single-news__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.single-news__content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 23px 30px;
  min-height: 169px;
}

.single-news__date {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 14px;
}

.single-news__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 4px;
}

.single-news__text {
  line-height: 24px;
}

.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__display {
  margin-right: 27px;
}

.paginator__list {
  display: flex;
  align-items: center;
}

.paginator__item {
  text-align: center;
  margin-right: 2px;
}

.paginator__item:last-child {
  margin-right: 0;
}

.paginator__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 700;
  line-height: 32px;
}

.paginator__item--active .paginator__link {
  background: #fff;
  color: #F5170E;
}

.paginator__link:hover {
  background: #fff;
  color: #F5170E;
}
