.offers {
  margin-bottom: 127px;
}

.title--fire:after {
  content: "" ;
  background: url(../../img/flame.png);
  margin-left: 14px;
  width: 21px;
  height: 28px;
  position: absolute;
  transform: translate(0, 50%);
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  width: calc(100% / 3 - 18px);
}

.offer {
  display: flex;
  flex-direction: column;
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}

.offer__img {
  display: flex;
  max-width: 362px;
  max-height: 144px;
}

.offer__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  min-height: 305px;
  padding: 33px 22px 26px;
}

.offer__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
  margin-bottom: 10px;
}

.offer__features {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.offer__feature {
  display: flex;
  align-items: center;
  margin-right: 33px;
}

.offer__feature:last-child {
  margin-right: 0;
}

.offer__feature-icon {
  max-height: 26px;
  max-width: 36px;
  margin-right: 10px;
}

.offer__feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.offer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #303030;
  margin-bottom: 10px;
}

.button--watch {
  margin-top: auto;
  max-width: 135px;
  color: #F5170E;
  background: #fff;
  border: 1px solid #F5170E;
  padding: 17px;
}

.button--watch:hover {
  background: #F5170E;
  color: #fff;
}

